
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}

.sty-font{
  font-family: 'Courgette', cursive;
}

/* color schemes */

.bg-grad{
  background: linear-gradient(to right, #445829, #fff12b);
}

/* custom padding */

.px-custom{
  padding-right: 10px;
  padding-left: 10px;
}

.min-height{
  min-height: 100vh;
}

/* card layout */

.holder{
  column-count: 3;
  column-gap: 15px;
}

.bg-trans{
  background-color: rgba(0, 0, 0, 0.7);
  border-left:10px solid rgba(207, 0, 0, 0.151);
}

.badgex{
  font-size: 10px;
  display: inline-block;
}

/* logo fonts */

.logo-img{
  margin-right: 10px;
}

.logo-txt{
  font-size: 56px;
}

@media screen and (max-width:600px){
  .px-custom{
    padding-right: 5px;
    padding-left: 5px;
  }
  .holder{
    column-count: 2;
  } 
  .logo-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-txt{
    font-size: 30px;
  }
  .logo-sub{
    font-size: 12px;
  }
}