
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Roboto&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  user-select: none;
  font-family: 'Roboto', sans-serif;
}

.sty-font{
  font-family: 'Rancho', cursive;
}

/* color schemes */

/* form */

.bg-form{
  background-color: #ece9e6;
  color: black;
  transition: 0.3s;
  border-radius: 20px;
  width: 50%;
}

.bg-form:focus{
  background-color: #ece9e6;
  border-radius:5px;
  width: 70%;
}

/* custom padding */

.px-custom{
  padding-right: 100px;
  padding-left: 100px;
}

.min-height{
  min-height: 100vh;
}

/* card layout */

.holder{
  column-count: 3;
  column-gap: 15px;
}

.radius{
  border-radius: 15px;
}

.bg-trans{
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  border-left: 10px solid rgba(255, 0, 0, 0);
}

.bg-trans:hover{
  border-left: 10px solid rgb(255, 0, 0);
}

.bg-trans-light{
  background-color: rgba(255, 255, 255, 0.76);
  color:black;
}

.card-head{
  font-size: 40px;
}

.badgex{
  font-size: 12px;
  display: inline-block;
}

/* logo fonts */

.logo-img{
  margin-right: 10px;
}

.logo-txt{
  font-size: 60px;
}
.logo-sub{
  font-size: 20px;
}

@media screen and (max-width:600px){
  .px-custom{
    padding-right: 5px;
    padding-left: 5px;
  }
  .holder{
    column-count: 2;
  } 
  .logo-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-txt{
    font-size: 36px;
  }
  .logo-sub{
    font-size: 16px;
  }

  .card-head{
    font-size: 20px;
  }

  .badgex{
    font-size: 10px;
  }
}